<div class="col-md-10" style="margin-left: 0 ; margin-right: 0" ng-controller="PolicyCtrl">
	<div class="row" >
		<textarea class="col-md-12" rows=30 ng-model="policy"></textarea>
	</div>

	<div class="row" style="margin-top:1em">
			<input type="submit" ng-click="compile(policy)" value="Compilar"/>
			<input type="submit" ng-click="submit(policy)" value="Instalar"/>
	</div>

	<div class="alert alert-danger row" role="alert", ng-show="error" style="margin-top:1em">
		<ul class="list-group">
  			<li class="list-group-item">{{error.code}}</li>
  			<li class="list-group-item">{{error.message}}</li>
  		</ul>
	</div>
	
	<div class="row" style="margin-top:1em">
		<pre rows=7>{{installedPolicy}} + {{policy}}</pre>
	</div>
	<div class="row" rows=7 style="margin-top:1em">
		<pre rows=7>{{compiledFlows}}</pre>
	</div>
	
	
</div>
