<div ng-controller="SettingsCtrl">
	<div class="row" style="margin-left: 0 ; margin-right: 0">
		<form>
			<div class="form-group">
				<label>Controller IP: <input type='text' ng-model='controllerIP'/></label>
				<label>Controller Port: <input type='text' ng-model='controllerPort'/></label>
				<input type="submit" ng-click="submit(controllerIP, controllerPort)" value="Update"/>
			</div>
		</form>

	</div>
</div>