<div class="col-md-10 alert alert-danger" role="alert" ng-show="controllerError" heigth="30em">
	<h3>{{controllerError}}</h3>
</div>
<div d3-graph data="data" on-selected-element="onSelectedElement(element)" selectedElement="selectedElement" ng-if="data" >
</div>
