/*csslint known-properties:false */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

text {
  font: 10px san-serif;
  pointer-events: none;
}

.graph {
	border: 1px solid #888;
    border-radius: 10px;
}