<div class="row col-md-10">
	<h2>DEVICE INFO</h2>
	<table class="table table-striped">
		 <thead>
      		<tr>
        		<th>DPID</th>
        		<th>TOTAL PORTS</th>
      		</tr>
    	</thead>
		<tbody>
			<tr>
				<td>{{data.dpid}}</td>
				<td>{{data.ports.length}}</td>
			</tr>
		</tbody>
	</table>
	<h2>PORTS INFO</h2>
	<table class="table table-striped">
		 <thead>
      		<tr>
      			<th>NAME</th>
        		<th>PORT NUMBER</th>
        		<th>MAC</th>
        		<th>STATUS</th>
        		<th>STP STATUS</th>
      		</tr>
    	</thead>
		<tbody>
			<tr ng-repeat="(key,value) in data.ports">
				<td>{{value.name}}</td>
				<td>{{value.port_no}}</td>
				<td>{{value.hw_addr}}</td>
				<td>{{(value.state.down)? 'UP' : 'DOWN'}}</td>
				<td>{{value.state.stp_state}}</td>
			</tr>
		</tbody>
	</table>

</div>